body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-me {
    background-color: rgb(245, 172, 15);
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: white;
    margin: 0;
    border: 1px solid black;
}

.my-class {
    background-color: rgb(255, 242, 204);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin: 5px 0;
    border: 1px solid black;
}

.my-favorite {
    background-color: rgb(255, 242, 204);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin: 5px 0;
    border: 1px solid black;
}

.moods-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
}

.mood {
    flex: 1;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    font-size: 18px;
    border: 1px solid black;
}

.mood.happy {
    background-color: rgb(213, 232, 212);
}

.mood.sad {
    background-color: rgb(213, 232, 212);
}

.fun-facts {
    background-color: rgb(213, 232, 212);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin: 5px 0;
    border: 1px solid black;
}
